* {
	box-sizing: border-box;
	padding: 0; margin: 0;
}

:root {
	--color: #4a76a8;
	--font-size: 14px;
}

html, body, .container {
	width: 100%; height: 100%;
}

.container {
	display: grid;

	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr;

	font-family: -apple-system, BlinkMacSystemFontRoboto, Arial, Helvetica Neue, sans-serif;
	font-size: 0;

	-webkit-font-smoothing: subpixel-antialiased;
}

.content {
	max-width: 960px;
	margin: 0 auto;
}

.nodes {
	display: none;
}

a {
	color: var(--color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	user-select: none;

	background-color: transparent;
	border: 0;
}

h1, h2, h3, h4, h5, h6,
b, strong {
	font-weight: 500;
}
