.feed {

}

.feed:empty:before {
	content: 'загрузка...';
	display: block;

	text-align: center;
}

.feed .post {

}

.feed .post .block-content {
	padding-top: 20px;
}

.post:not(:first-child) {
	margin-top: 15px;
}

.post .post-header {
	margin-bottom: 10px;
}

.post .post-header > * {
	display: inline-block;
	vertical-align: middle;
}

.post .post-header-img {
	width: 50px;

	margin-right: 10px;

	border-radius: 50%;

}

.post .post-meta .post-author a {
	font-weight: 600;
}

.post .post-meta .post-author a[data-verified]:after {
	content: '☑️';
	margin-left: 5px;
}

.post .post-meta .post-time {
	margin-top: 5px;
}

.post .post-meta .post-time a {
	color: #939393;
}

.post .post-attachments {
	margin-top: 5px;
}

.post .post-attachments:empty {
	display: none;
}

.post .post-attachments ul li {
	list-style: none;
}

.post .post-photos {
	text-align: center;
}

.post .post-photos[data-length] {
	display: grid;
}

.post .post-photos[data-length] li {
	padding: 1px;
}

.post .post-photos[data-length] img {
	object-fit: cover;
	width: 100%; height: 100%;
}

.post .post-photos[data-length='2'] {
	grid-template:
		'a b' auto / .6fr .4fr;

}

.post .post-photos[data-length='3'] {
	grid-template:
		'a b' 150px
		'a c' 150px / .6fr .4fr;
}

.post .post-photos[data-length='4'] {
	grid-template:
		'a b' 100px
		'a c' 100px
		'a d' 100px / .6fr .4fr;
}

.post .post-photos[data-length='5'] {
	grid-template:
		'a a b' 300px
		'c d e' 150px / .33fr .33fr .33fr;
}

.post .post-photos[data-length='6'] {
	grid-template:
		'a a b' 150px
		'c d d' 150px
		'e e f' 150px / .33fr .33fr .33fr;
}

.post .post-photos[data-length='7'] {
	grid-template:
		'a a a a a a' 300px
		'b c d e f g' 50px;
}

.post .post-photos[data-length='8'] {
	grid-template:
		'a a a b b b' 150px
		'c c d d e e' 150px
		'f f g g h h' 150px;
}

.post .post-photos[data-length='9'] {
	grid-template:
		'a b c' 150px
		'd e f' 150px
		'g h i' 150px;
}

.post .post-photos[data-length='10'] {
	grid-template:
		'a a b b b' 150px
		'c d d e e' 150px
		'f g h i j' 150px;
}

.post .post-photos a {
	display: flex;
	width: 100%; height: 100%;

	align-items: center;
	justify-content: center;
}

.post .post-photos img {
	max-width: 100%;
}

.post .post-photos:not([data-length]) img {
	max-width: 100%;
	max-height: 400px;
}

.post .post-album,
.post .post-video {
	--coverSize: 120px;

	display: grid;

	grid-template-rows: auto;
	grid-template-columns: var(--coverSize) 1fr;

	margin-top: 5px;

	border: 1px solid #d3d9de;

	color: #000;
}

.post .post-album:hover,
.post .post-video:hover {
	text-decoration: none;
}

.post .post-album .album-thumb,
.post .post-video .video-thumb {
	width: 100%; height: 100%;
	min-height: var(--coverSize);

	position: relative;

	border-right: 1px solid #d3d9de;

	user-select: none;
}

.post .post-album .album-thumb img,
.post .post-video .video-thumb img {
	width: 100%; height: 100%;

	object-fit: cover;
}

.post .post-album .album-size,
.post .post-video .video-duration {
	position: absolute;
	bottom: 10px; left: 10px;

	border-radius: 2px;

	background-color: rgba(255, 255, 255, .9);

	padding: 5px 10px;
}

.post .post-album .album-info,
.post .post-video .video-info {
	padding: 10px;
}

.post .post-album .album-description,
.post .post-video .video-description {
	margin-top: 5px;
	opacity: .5;
}

.post .post-album .album-btn,
.post .post-video .video-btn {
	margin-top: 10px;
}

.post .post-link {
	margin-top: 5px;
}

.post .post-link .link-link {
	display: block;

	width: 100%; height: 100%;

	position: relative;
}

.post .post-link .link-cover {
	width: 100%; height: 100%;

	max-height: 250px;

	object-fit: cover;
}

.post .post-link[data-type='link'] .link-info {
	padding: 10px;

	border: 1px solid #d3d9de;
	border-top: 0;
}

.post .post-link[data-type='article'] .link-info {
	display: flex;
	width: 100%; height: 100%;

	position: absolute;
	top: 0; left: 0;

	align-items: center;
	justify-content: center;

	flex-direction: column;

	background-color: rgba(0, 0, 0, .4);
}

.post .post-link .link-link:hover {
	text-decoration: none;
}

.post .post-link[data-type='link'] .link-title {
	color: #000;

	line-height: 1.4;

	font-weight: bold;
}

.post .post-link[data-type='link'] .link-source {
	margin-top: 5px;
}

.post .post-link[data-type='article'] .link-title {
	color: #fff;

	font-size: 2em;
	font-weight: bold;
}

.post .post-link[data-type='article'] .link-btn {
	margin-top: 20px;

	background-color: #fff;

	color: #000;
}

.post .post-podcast {
	display: grid;

	grid-template:
		'p-covr p-info' auto
		'p-covr p-lstn' 40px / 120px auto;

	border: 1px solid #d3d9de;
}

.post .post-podcast .podcast-cover {
	width: 100%; height: 100%;

	border-right: 1px solid #d3d9de;
}

.post .post-podcast .podcast-cover img {
	width: 100%; height: 100%;

	object-fit: contain;
}

.post .post-podcast .podcast-info {
	padding: 10px;
}

.post .post-podcast .podcast-title {
	color: #000;
}

.post .post-podcast .podcast-description {
	margin-top: 5px;
	opacity: .5;
}

.post .post-podcast .podcast-listen {
	display: flex;

	padding: 5px;

	align-items: center;
	justify-content: center;
}

.post .post-podcast .podcast-listen audio {
	width: 100%; height: 100%;
}

.feed-load {
	margin-top: 10px !important;
	text-align: center;
}

.feed-load .load-btn {
	display: block;
	width: 100%;
}
