.main {
	background-color: #edeef0;
}

.main .content {
	font-size: var(--font-size);

	padding: 10px 0;
}

.main .content > * {
	max-width: 600px;
	width: 100%;

	margin: 0 auto;
}

.main .content[data-style='centred'] {
	display: flex;

	align-items: center;
	justify-content: center;

	text-align: center;
	line-height: 1.5;
}

.main .block {
	background-color: #fff;

	border-radius: 2px;

	box-shadow:
		0 1px 0 0 #d7d8db,
		0 0 0 1px #e3e4e8;
}

.main .block .block-content {
	padding: 10px 20px;
}

.main .separator-line {
	border-top: 1px solid #d3d9de;
}

.main .button {
	display: inline-block;
	padding: 5px 15px;

	background-color: var(--color);

	border: 0;
	border-radius: 4px;

	color: #fff;
	white-space: nowrap;
}

.main .button:hover {
	opacity: .95;
}

.main .spoiler:not(:first-of-type) {
	margin-top: 10px;
}

.main .spoiler .spoiler-title {
	cursor: pointer;
}

.main .input {
	display: inline-block;
	padding: 5px 10px;

	border: 1px solid #d3d9de;
	border-radius: 1px;
}
